* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background: url("https://images.pexels.com/photos/207129/pexels-photo-207129.jpeg?cs=srgb&dl=adult-art-black-and-white-207129.jpg&fm=jpg")
    no-repeat center center fixed;
  background-size: cover;
  color: aliceblue;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  padding: 3em;
}

.landing-container {
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.header {
  background-color: #363537;
  padding: 2em;
  display: flex;
  justify-content: center;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.header-title {
  letter-spacing: 7px;
  font-size: 4em;
  text-transform: uppercase;
}

.landing-container {
  display: flex;
  justify-content: center;
  background-color: #2d3047;
  padding: 1em;
  line-height: 2.5em;
  border-radius: 2px;
}

.text {
  padding: 0.5em;
}

.landing-text {
  font-size: 2.5em;
}

.sub-text {
  font-size: 2em;
  font-weight: 100;
}

.button-container {
  margin-top: 2em;
}

.button {
  padding: 1em;
  border-radius: 4px;
  outline: none;
  border: 1px solid #706c61;
  text-decoration: none;
  letter-spacing: 1.2px;
  background-color: gray;
  color: aliceblue;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.button:hover {
  box-shadow: none;
  border: #b4ceb3 1px solid;
}

#snark {
  margin-top: 0.35em;
}

/* survey styles */

.survey-container {
  margin: 2em;
}

.page-title {
  text-align: center;
  background-color: #363537;
  padding: 1em;
  letter-spacing: 2px;
  border-bottom: 2px solid #706c61;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.details {
  text-align: center;
  padding: 2em;
}

.question {
  margin-bottom: 2em;
}

.question > h3 {
  padding: 0.3em;
}

.forms {
  display: grid;
  /* justify-items: center; */
  /* grid-template-columns: repeat(auto-fit, minmax(470px, 1fr)); */
  grid-gap: 2em;
  padding: 2em;
}

.form-container {
  justify-self: center;
}

.name-display {
  text-align: center;
  margin-bottom: 0.7em;
}

.question h3 {
  text-align: center;
  font-weight: 100;
  font-size: 1.2em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 3fr));
  grid-gap: 3em;
  padding: 2em;
  justify-items: center;
  align-items: center;
}

.form-container > input {
  width: 25em;
  height: 2.5em;
  padding: 0 0.7em 0 0.7em;
  border-radius: 4px;
  outline: none;
  border: gray 1px solid;
  font-size: 1.1em;
}

input,
select {
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

select {
  background-color: #706c61;
  color: aliceblue;
}

.input {
  display: block;
  width: 25em;
  height: 2.5em;
  padding: 0 0.7em 0 0.7em;
  border-radius: 4px;
  outline: none;
  border: gray 2px solid;
  font-size: 1.1em;
  transition: 0.5s;
}

.input:hover {
  border: #b4ceb3 2px solid;
  box-shadow: none;
}

#submit {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
  font-size: 2em;
  letter-spacing: 4px;
  background-color: #363537;
  color: aliceblue;
  cursor: pointer;
  transition: 0.5s;
}

#submit:hover {
  border: #b4ceb3 1px solid;
  color: #b4ceb3;
  letter-spacing: 2px;
  box-shadow: none;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #363537;
  margin: 20% auto;
  color: white;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.close-btn {
  color: white;
  float: right;
  font-size: 30px;
}

.close-btn:hover,
.close-btn:focus {
  color: #ef2d56;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align: center;
  margin: 1.5em;
}

#match-img {
  width: 75%;
  padding: 2em;
  border-radius: 4px;
  margin: auto;
}

#match-name {
  text-align: center;
  font-size: 2em;
  letter-spacing: 3px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.3em;
}

/* 404 styles */
main {
  margin: 5em;
  text-align: center;
}

.info {
  margin-bottom: 2em;
}

.links {
  text-align: center;
}

.link {
  color: blue;
  font-size: 1.5em;
  transition: 0.5s;
  text-shadow: none;
}

.link:hover {
  color: aliceblue;
  letter-spacing: 2px;
}

.api-link {
  margin: 1.2em;
  position: relative;
  bottom: 0;
  text-align: center;
  text-shadow: none;
}
