* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  /* width: 75%; */
  padding: 2em;
}

.landing-container {
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.header {
  background-color: gray;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.header-title {
  letter-spacing: 7px;
  font-size: 4em;
  text-transform: uppercase;
}

.landing-container {
  display: flex;
  justify-content: center;
  background-color: bisque;
  padding: 2em;
  line-height: 2.5em;
}

.landing-text {
  font-size: 2.5em;
}

.sub-text {
  font-size: 2em;
}

.button-container {
  margin-top: 2em;
}

.button {
  padding: 1em;
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
  text-decoration: none;
  color: aliceblue;
  background-color: gray;
  font-size: 1em;
}

#snark {
  margin-top: 0.35em;
}

/* survey styles */

.survey-container {
  margin: 2em;
}

.page-title {
  text-align: center;
  background-color: #363537;
  color: aliceblue;
  padding: 1em;
  letter-spacing: 2px;
  border-bottom: 2px solid #706c61;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.details {
  text-align: center;
  padding: 2em;
}

.question {
  margin-bottom: 2em;
}
/* .forms {
  display: flex;
  justify-content: space-around;
  padding: 2em;
} */

.forms {
  display: grid;
  /* justify-items: center; */
  /* grid-template-columns: repeat(auto-fit, minmax(470px, 1fr)); */
  grid-gap: 2em;
  padding: 2em;
}

.form-container {
  justify-self: center;
}

.name-display {
  text-align: center;
  margin-bottom: 0.7em;
}

.question h3 {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 3fr));
  grid-gap: 3em;
  padding: 2em;
  justify-items: center;
  align-items: center;
}

.form-container > input {
  width: 25em;
  height: 2.5em;
  padding: 0 0.7em 0 0.7em;
  border-radius: 4px;
  outline: none;
  border: gray 1px solid;
  font-size: 1.1em;
}

input,
select {
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.input {
  display: block;
  width: 25em;
  height: 2.5em;
  padding: 0 0.7em 0 0.7em;
  border-radius: 4px;
  outline: none;
  border: gray 1px solid;
  font-size: 1.1em;
}

#submit {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
  font-size: 2em;
  letter-spacing: 4px;
  background-color: #363537;
}
